/**
 * (C) Josh Netterfield <joshua@nettek.ca> 2015.
 * Part of the Satie music engraver <https://github.com/ripieno/satie>.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * @file Styling common to all things
 */
body,
html {
  background-color: #fff;
  font-family: Alegreya;
}
@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya'), local('Alegreya-Regular'), url(/res/alegreya.woff) format('woff');
}
@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-weight: 400;
  src: local('Overlock'), local('Overlock-Regular'), url(/res/Overlock-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-weight: 700;
  src: local('Overlock-Bold'), url(/res/Overlock-Bold.woff) format('woff');
}
.main {
    width: 100%;
}
.pageContent {
    margin: 0 56px;
}
.minipad .panel-heading {
    padding: 2px 4px;
}
.minipad .panel-body {
    padding: 4px;
}
.collapsing {
    -webkit-transition: height 0.01s;
    transition: height 0.01s;
}
.container {
    width: 100% !important;
}

.partialnav::after {
    display: none !important;
}

@media (max-width: 768px) {
    .ripieno-backlink {
        display: none;
    }
}
@media (min-width: 769px) {
    .ripieno-backlink-alt {
        display: none;
    }
}
