 :root {
    --color--text: #444;
    --color--highlight-blue: #428bca;
    --color--link: #999;
    --color--border--accepted: #C1CDD8;
    --color--border--error: red;

    --font--body: 'Alegreya', serif;
}